<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v3.5" sku=".NETFramework,Version=v3.5"/></startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <filter type="log4net.Filter.LevelRangeFilter">
    <levelMin value="DEBUG" />
    <levelMax value="FATAL" />
  </filter>
</configuration>


